<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The JS Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="root"></div>
   <noscript>
      <div style="padding: 10px">
        <h1>This website requires JavaScript to be enabled!</h1>
      </div>
    </noscript>
</body>
</html>
