<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The JS Quiz - Test your JavaScript skills</title>
  <meta name="Description" content="You can test your JavaScript skills with TheJSQuiz. This fun, interactive quiz will help you improve your knowledge of JavaScript and allow you to compete with friends or even practice for job interviews! Each time you take a test a random selection of questions will be loaded. Don't forget to share your results!">
  <meta name="Keywords" content="JavaScript, quiz, free, interactive, fun, beginner, intermediate, advanced, programmer, code, web developer, software engineer, react, node">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="root"></div>
   <noscript>
      <div style="padding: 10px">
        <h1>This website requires JavaScript to be enabled!</h1>
      </div>
    </noscript>
</body>
</html>
